* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  body {
    margin: 0;
    color: rgba(10, 10, 10, 0.922);
    background-color: #fcfcfc;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .cuestionario {
    background-color: #e0e3f0;
    height: min-content;
    min-height: 400px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(68, 83, 167, 0.75);
    display: flex;
    justify-content: space-evenly;
  }

  .tabla {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 75%;
    color: #212529;
    vertical-align: bottom;
    border-color: #dee2e6;
    margin: auto;
    /*text-align: center;*/
  }
  /*BOTONES*/

  .buttonq {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }

  .buttonq:hover{
    background-color: #234668
  }

  .buttonq:focus {
    outline: none;
  }

  .buttonh {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }

  .buttonh:hover{
    background-color: #234668;
    color: #debc17;
  }

  .buttonh:focus {
    outline: none;
  }

  .button-previous{
    width: 30%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid #234668;
  }

  .button-previous:hover{
    background-color: #234668
  }

  .button-previous:focus {
    outline: none;
  }

  .btnBancoPreguntas {
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: #FE9000;
    width: fit-content;
  }

  .btnRegistroRespuestas {
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: #FE9000;
    width: fit-content;
  }

  .btnAct {
    width: 75%;
    background-color: #FE9000;
    outline: #0B7A75;
    cursor: pointer;
    font-weight: 500;
    border-radius: 7px;
    align-self: center;
    display: list-item;
    margin: 10px auto;
  }

  .btnAct:hover {
    background-color: #0B7A75;
    color: #FE9000;
  }

  .btnEditarRespuesta {
    border-radius: 0.75rem;
    background-color: #0B7A75;
    width: 75%;
    margin: 10px auto;
    padding: 5px;
    cursor: pointer;
    display: list-item;
    align-self: center;
    flex-wrap: wrap;
  }

  .btnEditarPregunta {
    border-radius: 100px;
    background-color: #0B7A75;
    width: 55%;
    padding: 5px;
    cursor: pointer;
    display: table-column-group;
    align-self: center;
    flex-wrap: wrap;
  }

  .btnVisualizaRespuesta {
    width: 75%;
    background-color: #FE9000;
    outline: #0B7A75;
    cursor: pointer;
    font-weight: 500;
    border-radius: 7px;
    align-self: center;
    display: list-item;
  }

  .btnVisualizaRespuesta:hover {
    background-color: #0B7A75;
    color: #FE9000;
  }

  .btnEdicion {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* PREGUNTAS */
  .left-side {
    width: 140%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .input-comment{
    width: 95%;
    height: 100px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid #252d4a;
  }
  
  .input-answer{
    width: 100%;
    height: 125px;
    border: 1px solid #252d4a;
  }

  .numero-pregunta {
    margin-bottom: 20px;
  }
  
  .numero-pregunta span {
    font-size: 12px;
  }
  
  .titulo-pregunta {
    margin-bottom: 12px;
    margin-right: 10px;
    font-size: 30px;
  }
  
  .right-side {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .open-question {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* FINALIZADO */
  .fin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 24px;
    align-items: center;
  }
  
/*CREAR CUESTIONARIO*/

  .form-field {
    flex: 2;
  }

  .form-field label,
  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: rgb(84, 84, 84);
  }
  
  input {
    height: 35px;
    width: 100%;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }
  
  input:focus {
    border: 1px solid #FE9000;
  }
  
  .services {
    display: flex;
    justify-content: space-between;
  }
  .first-division {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0.5px ;
    width: 100%;
  }
  button {
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .first-division button {
    align-self: flex-start;
    display: inline;
    align-items: center;
    text-align: center;
    margin-top: 5.5px;
    width: 100%;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(72, 255, 0);
  }
  
  .second-division button {
    color: rgb(255, 255, 255);
    border: 1px solid red;
  }

  .div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
  }

  .crearCuestionario {
    background-color: #e0e3f0;
    height: min-content;
    min-height: 700px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(68, 83, 167, 0.75);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .outputPreguntas {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 19px;
  }

  .inputPreguntas {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .inputFields{
    width: 700px;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #252d4a;
  }

  .inputNewQuestion{
    width: 500px;
    height: 100px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 1px solid #252d4a;
  }

  .displaySetRespuestas {
    display: flex;
    flex-direction: column;
    padding-left: 9px;
    margin-bottom: 0;
    border-radius: 20.25rem;
  }

  .setRespuestas {
    position: inherit;
    display: inherit;
    padding: 5.5px 25%;
    color: #212529;
    background-color: #fff;
    border: 1px solid #FE9000;
    justify-content: space-between;
    font-size: x-large
  }

  .setRespuestasBotones {
    position: inherit;
    display: inherit;
    padding: 0.5px 1%;
    color: #212529;
    background-color: #fff;
    justify-content: flex-end;
    font-size: x-large;
  }