*{
  box-sizing:border-box;
  margin:0;
  padding:0;

}
.color-nav{
  background-color: rgb(29,63,148);
  font:Times; 
}
.color-nav-hover{
  color: rgb(234, 250, 7)

}
.alertas{
  position: relative;
  padding: 0 50px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
  min-width: 250px;
}